run = "bash start.sh"
modules = ["go-1.21", "web", "bash", "nix"]

[env]
PORT = "5000"
GOPATH = "$REPL_HOME/gopath"

[nix]
channel = "stable-22_11"
packages = ["go_1_21", "curl", "cloudflared", "git"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 5000

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "bash start.sh"]

[workflows]
runButton = "Start"

[[workflows.workflow]]
name = "Start"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"

[[workflows.workflow]]
name = "Force Reset & Pull"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git reset --hard && git pull origin main && go run main.go"