<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 bg-light border-end p-3">
      <h5>Drivers</h5>
      <ul class="list-group mb-4">
        {{range .DriverSummaries}}
        <li class="list-group-item">
          <a href="/driver/{{.Name}}">{{.Name}}</a>
        </li>
        {{end}}
      </ul>

      <a href="/new-user" class="btn btn-success w-100 mb-4">+ Create New User</a>

      <h5>Routes</h5>
      <ul class="list-group">
        {{range .RouteStats}}
        <li class="list-group-item">{{.RouteName}}</li>
        {{end}}
      </ul>
    </div>

    <!-- Main Content -->
    <div class="col-md-9 p-4">
      <h2>Manager Dashboard</h2>

      <h4 class="mt-4">Driver Summary</h4>
      <table class="table table-bordered">
        <thead class="table-light"> ... </thead>
        <tbody> ... </tbody>
      </table>

      <h4 class="mt-4">Route Analytics</h4>
      <table class="table table-bordered">
        <thead class="table-light"> ... </thead>
        <tbody> ... </tbody>
      </table>

      <h4 class="mt-4">Activities / Field Trips</h4>
      <table class="table table-bordered">
        <thead class="table-light"> ... </thead>
        <tbody> ... </tbody>
      </table>
    </div>
  </div>
</div>
